* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    font-family: sans-serif;
    overflow: hidden;
    background-color: rgb(241, 238, 234);
}

#nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    background-color: rgb(241, 238, 234);
    width: 100vw;
    z-index: 999;

}

.navleft {
    display: flex;
    align-items: center;
    gap: 5px;
}

#navimg {
    margin: 20px 5px 20px 80px;
}

.h1NavLeft {
    font-size: 2.4rem;
}

.navright {
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 16px;
    font-weight: lighter;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    float: left;
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 22px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownContent {
    display: none;
    position: absolute;
    text-align: center;
    padding: 30px;
    background-color: rgb(241, 238, 234);
    min-width: 160px;
    z-index: 1;
    top: 80%;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    margin-top: 5px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    border-bottom: 2px solid rgb(169, 153, 116);
}

.dropdown:hover .dropdownContent{
    display: block !important;
} 

#home:hover,.dropdown:hover{
    border-bottom: 2px solid rgb(169, 153, 116);
}

.navbutton {
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid rgb(129, 104, 67);
    border-radius: 3px;
    color: rgb(171, 128, 77);
    letter-spacing: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.navbtnBrown {
    position: absolute;
    margin-left: 31.3rem;
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(179, 136, 84);
    border: 2px solid rgb(171 128 77);
    border-radius: 3px;
    color: #fff;
    letter-spacing: 3px;
    transition: all 0.5s;
    transform-origin: center;
    transform: scaleX(0);
}

.navbutton:hover+.navbtnBrown {
    transform: scaleX(1);
    box-shadow: 10px 10px 30px rgb(150, 133, 108);
}

.navline {
    width: 3.7rem;
    height: 0.1rem;
    margin-top: 8px;
    display: none;
    background-color: rgb(179, 136, 84);
}

#page1 {
    display: flex;
    margin-top: 100px;
}

.page1left {
    width: 43vw;
}

.lefth1 {
    font-size: 5rem;
    /* font-weight: 100; */
    margin-left: 2rem;
    margin-top: 150px;
}

.lefth2 {
    font-size: 1rem;
    font-weight: 100;
    padding: 1.8rem;
}

.lefth3 {
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 0 3rem 0 1.9rem;
    line-height: 2.5rem;
    opacity: 0.8;
}

.page1button {
    padding: 1.1rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid rgb(129, 104, 67);
    border-radius: 3px;
    color: rgb(171, 128, 77);
    letter-spacing: 3px;
    cursor: pointer;
    margin: 2.8rem;
}

.page1btnBrown {
    position: absolute;
    /* left: 2.8rem; */
    /* bottom: -6rem; */
    padding: 1.1rem 3rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(171 128 77);
    border: 2px solid rgb(171 128 77);
    border-radius: 1px;
    color: #fff;
    letter-spacing: 3px;
    transition: all 0.5s;
    transform-origin: center;
    transform: scaleX(0);
}

.page1button:hover+.page1btnBrown {
    transform: scaleX(1);
    box-shadow: 10px 10px 30px rgb(150, 133, 108);
}

.page1right {
    padding-top: 20px;
}

.right1_1img2 {
    position: absolute;
    top: 85%;
    left: 68%;
}

.right1_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-right: -60px;
}

.pg1icon1 {
    font-size: 2.3rem;
    font-weight: lighter;
    margin-top: 30px;
}

.pg1icon2 {
    font-size: 2.3rem;
    font-weight: lighter;
}

.pg1line {
    width: 2px;
    height: 6rem;
    background-color: black;
}

.pg1h2 {
    rotate: calc(90deg);
    width: 150px;
    margin-top: 60px;
}

#page2 {
    top: 150px;
    position: relative;
    /* height: 100vh; */
}

.pg2img1 {
    width: 74vw;
    height: 83vh;
}

.pg2h1 {
    position: absolute;
    display: flex;
    top: 15%;
    right: 3%;
    font-size: 5rem;
    text-align: end;
    width: 45vw;
}

.pg2box {
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 55vh;
    top: 50%;
    left: 51%;
    background-color: rgb(101, 107, 80);
}

.pg2boxtext {
    text-align: center;
    width: 33vw;
    font-size: 22px;
    color: rgb(234, 225, 201);
    line-height: 30px;
}

.pg2boxh2 {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    color: rgb(182, 155, 116);
    padding: 10px;
}

/* .pg2htmlIcon{
    margin-left: 15px;
}
.pg2htmlIcon:hover{
    margin-left: 15px;
} */
#page3 {
    display: flex;
    gap: 20px;
    margin-top: 270px;
    margin-bottom: 70px;
    padding: 40px;
}

.page3box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.pg3boxh1 {
    font-size: 35px;
}

.pg3boxh2 {
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: gray;
    width: 100%;
    font-weight: 100;
    line-height: 2rem;
}

#page4 {
    display: flex;
    gap: 10px;
    padding: 50px 30px;
    background-color: rgb(238, 232, 223);
}

.pg4left-right {
    width: 50%;
}

.pg4lefth1 {
    font-size: 80px;
    color: rgb(52, 52, 52);
}

.pg4lefth2 {
    margin: 30px 12px 30px 0;
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: rgb(85, 84, 84);
}

.pg4leftimg {
    padding: 30px 0;
    width: 90%;
}

.pg4righth1 {
    font-size: 40px;
    padding-bottom: 25px;
    font-weight: bold;
    color: rgb(52, 52, 52);
}

.pg4righth2 {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    padding-bottom: 25px;
    color: rgb(52, 52, 52);
}

.accordion{ 
    cursor: pointer;
} 
.accordion .accordion-content{ 
    margin:10px 0; 
    border-radius: 5px; 
    overflow: hidden; 
} 
  
.accordion-content.is-open{ 
    padding-bottom: 10px; 
} 
.accordion-content header{ 
    display:flex; 
    min-height: 50px; 
    padding: 0 15px 0 0; 
    cursor: pointer; 
    font-size: 2rem;
    align-items: center; 
    justify-content: space-between; 
    transition:all 0.2s linear; 
    color: rgb(182, 155, 116);
} 
.accordion-content-title{ 
    font-size: 1.8rem; 
    font-weight: 100; 
    color: #343434;
} 
.accordion-content-description{ 
    height:0; 
    font-size: 21px;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 8px;
    font-weight: lighter;
}

#page5 {
    padding: 0 40px;
    padding-bottom: 30px;
}

.pg5h1 {
    font-size: 35px;
    color: rgb(182, 155, 116);
    margin-left: 43%;
    margin-top: 40px;
}

.pg5h2 {
    font-size: 20px;
    font-weight: normal;
    margin: auto;
    padding: 20px 0;
    width: 63%;
    text-align: center;
}

.pg5cards {
    display: flex;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
    margin-top: 20px;
}

.pg5card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cardimg {
    width: 380px;
}

.cardh1 {
    font-size: 40px;
}

.cardtexth2 {
    font-weight: 100;
    color: rgb(182, 155, 116);
}

.cardtexth3 {
    margin-top: 6px;
    font-size: 21px;
    font-weight: normal;
}

.cardline {
    width: 2px;
    height: 8vh;
    background-color: rgb(182, 155, 116);
}

.cardlorem {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
}

#page6 {
    background-color: rgb(238, 232, 223);
    padding: 50px 30px;
}

.pg6h1 {
    font-size: 40px;
    color: rgb(52, 52, 52);
    margin-left: 35%;
}

.pg6cards {
    display: flex;
    gap: 30px;
}
.video{
    position: absolute;
    z-index: 9999999999;
    padding: 0 80px;
    display: none;
    top: 0;
}
.video>i{
    cursor: pointer;
    position: absolute;
    font-size: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    right: 0;
}

.pg6card {
    width: 50%;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.pg6circle {
    cursor: pointer;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border: 2px solid#fff;
    border-radius: 50%;
    z-index: 99;
}

.pg6circlei {
    font-size: 65px;
    margin-left: 15px;
    margin-top: 6px;
    color: #fff;
}

.pg6cardimg {
    width: 100%;
    height: 80%;
    position: relative;
}

.transparent {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 80%;
    background-color: rgb(219, 201, 182);
    z-index: 9;
    opacity: 0.6;
}

.pg6cardh2 {
    color: rgb(52, 52, 52);
    margin-top: 45px;
    font-size: 40px;
}

.pg6cardh3 {
    color: rgb(182, 155, 116);
    font-size: 23px;
    font-weight: lighter;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
}

#page7img {
    width: 100vw;
    height: 85vh;
}

#page8 {
    padding: 70px 120px;
    text-align: center;
    position: relative;
}

.pg8h1 {
    font-size: 45px;
}

.pg8h2 {
    font-size: 27px;
    font-weight: normal;
    padding: 20px 0;
    line-height: '1.5';
}

.inputdiv {
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center;
    margin-top: 25px;
}

.pg8input {
    width: 48%;
    padding: 1rem;
    background-color: #f1eeea;
    border: none;
    border-bottom: 2px solid #343434;
    transition: 0.4s;
    box-shadow: none;
    outline: none;
    font-size: 20px;
}

#theme {
    display: flex;
    align-items: center;
    gap: 45px;
    color: gray;
}

#theme>h2 {
    font-size: 22px;
    font-weight: 100;
}

#theme>label {
    margin-left: -35px;
    font-size: 20px;
}

#textarea {
    resize: vertical;
    overflow: auto;
    margin-left: 90px;
}

.page8button {
    padding: 1.1rem 2.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    border: 2px solid rgb(129, 104, 67);
    border-radius: 3px;
    color: rgb(171, 128, 77);
    letter-spacing: 3px;
    cursor: pointer;
    margin: 2.8rem;
}

#page8btnBrown {
    position: absolute;
    left: 36.4rem;
    bottom: 10.1rem;
    padding: 1.1rem 2.8rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 100;
    background-color: rgb(171 128 77);
    border: 2px solid rgb(171 128 77);
    border-radius: 1px;
    color: #fff;
    letter-spacing: 3px;
    transition: all 0.5s;
    transform-origin: center;
    transform: scaleX(0);
}

.page8button:hover+.page8btnBrown {
    transform: scaleX(1);
    box-shadow: 10px 10px 30px rgb(150, 133, 108);
}

.pg8h3 {
    width: 680px;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.3;
    color: #7e7d7d;
    margin-left: 210px;
}

#page9 {
    background-color: rgb(42, 37, 37);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 100px;
}

.boxpg9 {
    display: flex;
    gap: 200px;
    text-align: center;
    font-family: sans-serif;
    margin: 30px;
}

.detailsh1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(169, 153, 116);
}

.detailsh3 {
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}

.pg9icon {
    font-size: 2.3rem;
    font-weight: lighter;
    color: rgb(169, 153, 116);
}

#pg9line {
    width: 2px;
    height: 6rem;
    background-color: rgb(169, 153, 116);
}